<html>
<body>
<form action="/set">
	<input name="safe" value="{{main.key.urlsafe}}"></input>
	<p>account</p>
	<input name="name" value="{{main.name}}"></input>
	<p>positive</p>
	<input name="positive" value="{%for i in main.data.positive%}{{i}} {%endfor%}"></input>
	<p>negative</p>
	<input name="negative" value="{%for i in main.data.negative%}{{i}} {%endfor%}"></input>
	<br>
	<button name="command" value="set">送信</button>
	<button name="command" value="acc">認証</button>
	<button name="command" value="del">削除</button>
</form>
{%for i in account%}
<a href="/admn?safe={{i.key.urlsafe}}">name:{{i.name}}</a>
<p>positive:{%for i in main.data.positive%}{{i}} {%endfor%}</p>
<p>negative:{%for i in main.data.negative%}{{i}} {%endfor%}</p>
{%endfor%}
</body>
</html>